{% extends "template.html" %}

{% block title %}Упс :({% endblock %}

{% block head %}
	{{ super() }}
	<!-- Если надо добавить свой css -->
  <!-- <link rel="stylesheet" type="text/css" href="static/css/ДРУГОЙ.css"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/signin.css">
{% endblock %}

{% block content %}

<!-- MAIN BODY -->
<div class="container marketing">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Ошибка 404</h1>
    <p class="lead">Данная страница не существует или была удалена :(</p>
  </div>
</div>

{% endblock %}