{% extends "template.html" %}

{% block title %}Искусство({% endblock %}

{% block head %}
	{{ super() }}
	<!-- Если надо добавить свой css -->
  <!-- <link rel="stylesheet" type="text/css" href="static/css/ДРУГОЙ.css"> -->
  <link rel="stylesheet" type="text/css" href="/static/css/signin.css">
{% endblock %}

{% block content %}

	<!-- MAIN BODY -->

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Примеры дизайна визиток</h1>
          <p class="lead text-muted">Категория: искусство</p>
          <p>
            <a href="#" class="btn btn-dark my-2">Предыдущая категория</a>
            <a href="#" class="btn btn-danger my-2">Следующая категория</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/art1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Print Do</p>
                  <p class="card-text">www.printdo.org</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">10.12.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/art2.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Juliana Bradley</p>
                  <p class="card-text">www.julianabradley.org</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">3.12.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/art3.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Mario Ray</p>
                  <p class="card-text">www.marioray.net</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">23.11.2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/art4.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Марина Бирюкова</p>
                  <p class="card-text">www.biryukovamary.ru</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">9.11.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/art5.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Impressions! Art</p>
                  <p class="card-text">www.impressionsart.com</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">01.01.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/art6.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Blue Bottle</p>
                  <p class="card-text">www.bluebottle.com</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">01.01.2019</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
