{% extends "dashboard_template.html" %}

{% block title %}Личный кабинет{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block sidebar_items %}
<li class="nav-item">
  <a class="nav-link" href="/dashboard/info/">
    <span data-feather="home"></span>
    Обзор <span class="sr-only"></span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/dashboard/editor/">
    <span data-feather="file">(current)</span>
    Редактор
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/dashboard/orders/">
    <span data-feather="shopping-cart"></span>
    Заказы
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/dashboard/subscription/">
    <span data-feather="users"></span>
    Подписка
  </a>
</li>
{% endblock %}

{% block content %}

    <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"> -->
  <h2>Задайте данные для визитки</h2>
  <form action="/dashboard/editor/" method="post" enctype="multipart/form-data">
    <table class="table" id="content">
      <tbody>
        <tr>
          <td><b>URL сайта <span style="color: #bc1a2f"> *</span></b> 
          <!-- <input type="url" class="form-control" id="url" placeholder="http://example.com" required></td> -->
          {{ form.url (class="form-control", placeholder="http://example.com") }}
        </tr>
        <tr>
          <td>
            <b>Логотип <span style="color: #bc1a2f"> *</span></b>
            <div class="custom-file"> 
              <!-- <input type="file" class="custom-file-input" id="logoFile" accept=".png" required> -->
              {{ form.logoFile (class="custom-file-input", accept=".png") }}
              <label class="custom-file-label" for="logoFile">Выберете файл с логотипом в формате .png</label>
            </div>
          </td>
          <script>
            // The name of the file will appear on select
            $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();
              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            </script>
        </tr>
        <tr>
          <td><b>Ваше имя</b> 
          <!-- <input class="form-control" id="personName"></td> -->
          {{ form.personName (class="form-control") }}
        </tr>
        <tr>
          <td><b>Название компании</b> 
          <!-- <input class="form-control" id="companyName"></td> -->
          {{ form.companyName (class="form-control") }}
        </tr>
        
        <tr>
          <td><b>Номер телефона</b> 
          <!-- <input class="form-control" type="tel" id="phone" placeholder="+7(987)654-32-10" pattern="+7([0-9]{3})[0-9]{3}-[0-9]{2}-[0-9]{2})" maxlength="16"></td> -->
          {{ form.phone (class="form-control", placeholder="+7(987)654-32-10") }}
        </tr>
        <tr> 
          <td><b>Почта</b> 
          <!-- <input class="form-control" type="email" id="email" placeholder="name@example.com"></td> -->
          {{ form.email (class="form-control", placeholder="name@example.com") }}
        </tr>
      </tbody>
    </table>
    <div  class="border-bottom mb-4"></div>
    <input type="submit" class="btn btn-lg btn-danger" value="Сгенерировать дизайн" onclick="loading();">
    {{ form.csrf_token }}
  </form>

  <div id="loading"></div>
  <script type="text/javascript">
    function loading(){
        document.getElementById("loading").style.display = "inline-block";
        // document.getElementById("content").style.display = "none";
    }
  </script>


{% endblock %}
