{% extends "template.html" %}

{% block title %}Недвижимость({% endblock %}

{% block head %}
	{{ super() }}
	<!-- Если надо добавить свой css -->
  <!-- <link rel="stylesheet" type="text/css" href="static/css/ДРУГОЙ.css"> -->
{% endblock %}

{% block content %}
	<!-- MAIN BODY -->

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Примеры дизайна визиток</h1>
          <p class="lead text-muted">Категория: недвижимость</p>
          <p>
            <a href="#" class="btn btn-dark my-2">Предыдущая категория</a>
            <a href="#" class="btn btn-danger my-2">Следующая категория</a>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/estate1.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Real Estate</p>
                  <p class="card-text">www.realestate.org</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">10.12.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/estate2.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Hanna Smith Estate</p>
                  <p class="card-text">www.hannahsmith.org</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">3.12.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/estate3.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Moscow Estate</p>
                  <p class="card-text">www.moscowestate.net</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">23.11.2019</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/estate4.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Estate Solutions</p>
                  <p class="card-text">www.estatesolutions.com</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">9.11.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/estate5.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Arckhome Properties</p>
                  <p class="card-text">www.arckhome.com</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">01.01.2019</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" height="250vw" src="/static/images/estate6.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Doe Estate</p>
                  <p class="card-text">www.doestate.com</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-danger">View</button>
                      <button type="button" class="btn btn-sm btn-outline-dark">Edit</button>
                    </div>
                    <small class="text-muted">01.01.2019</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}